VITE_API_BASE_URL=http://espon-server.netbird.cloud/api/v1
VITE_BASE_URL=http://localhost:5757
VITE_COOKIE_CONSENT=

VITE_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_URL=
SENTRY_ORG=
SENTRY_PROJECT=

VITE_SSO_SCOPE=
VITE_SSO_CLIENT_ID=
VITE_SSO_CALLBACK_URL=
VITE_SSO_TENANT_ID=
VITE_SSO_AUTHROIZATION_URL=